<a href="/House/HouseDetails?houseId=6">
    <div class="product-item-area">
        <div class="image-box ratio-4-3">
            <img data-src="~/Content/image/No_Picture.jpg" class="img-fluid rounded image lazy" src="~/Content/image/No_Picture.jpg">
        </div>
        <div class="product-item-content text-center">
            <p class="product-item-category">Đặc sản miền Nam</p>
            <p class="product-item-title">Cam House Seaview</p>
            <p class="product-item-price">
                <del>700.000 ₫</del>
                <span>650.000 ₫</span>
            </p>
            <p class="btn btn-outline-primary btn-sm btn-rounded">Mua hàng</p>
        </div>
    </div>
</a>
