<div class="modal fade" id="ModalTemplate" aria-hidden="true" tabindex='-1'>
    <div class="modal-dialog" style="min-height: 100px">
        <div class="modal-content" id="modalContent">

        </div>
    </div>
</div>

<div class="modal fade" id="ModalTemplateLg" aria-hidden="true" tabindex='-1'>
    <div class="modal-dialog modal-lg mb-0" style="min-height: 100px">
        <div class="modal-content px-3" id="modalContentLg">

        </div>
    </div>
</div>


<div class="modal fade" id="ModalTemplateXl" aria-hidden="true" tabindex='-1'>
    <div class="modal-dialog modal-xl mb-0" style="min-height: 100px; max-width: 90%">
        <div class="modal-content" id="modalContentXl">

        </div>
    </div>
</div>