@model Kingflix.Models.RegisterViewModel
@{
    Layout = null;
}

<html>
<head>
    <style>
        @@media screen and (max-width: 768px) {
            #body {
                width: 100%;
            }
            .display {
                display: block;
            }
            .flex-mid {
                width: 100%;
            }
        }
        @@media screen and (min-width: 768px) {
            #body {
                width: 80%;
            }
            .display {
                display: flex;
            }
            .flex-mid {
                width: 50%;
            }
        }
        .logo-image img {
            padding: 10px 0;
        }
    </style>
</head>
<body>
    <div style="width: 100%; background: #f8f8f8; padding: 15px 0; font-size: 16px;">
        <div id="body" style="margin: 0 auto; background: #ffffff;">
            <div class="logo-image" style="border-bottom: 1px solid #e6e6e6; text-align: center;">
                <img src="https://kingflix.vn/Content/image/logo.png" height="60" widht="auto" alt="Logo" title="Logo" style="display:block" />
            </div>
            <div style="border-bottom: 1px solid #e6e6e6;">
                <div style="padding: 30px 35px;">
                    <p style="font-weight: bold;">Xin chào @Model.FullName</p>
                    <p>
                        Chúc mừng, bạn đã đăng ký thành công và trở thành thành viên của Kingflix.vn
                    </p>
                </div>
            </div>
            <div style="border-bottom: 1px solid #e6e6e6;">
                <div style="padding: 30px 35px;">
                    <p style="font-weight: bold; color: #ed343d; margin-bottom: 0">THÔNG TIN TÀI KHOẢN</p>
                    <div style="padding: 10px 20px; font-size: 14px;">
                        <p style="margin: 0">Thông tin thanh toán</p>
                        <div class="display">
                            <div class="flex-mid">
                                <p style="margin: 0"><strong>Tên đăng nhập</strong>: @Model.Email</p>
                                <p style="margin: 0"><strong>Mật khẩu</strong>: ****** (tạm giấu vì lý do bảo mật)</p>
                                <p style="margin: 0"><strong>Số điện thoại</strong>: @Model.PhoneNumber</p>
                                <p style="margin: 0"><strong>Thời gian đăng ký</strong>: @DateTime.Now.ToString("dd/MM/yyyy")</p>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 10px 20px; font-size: 14px;">
                        <p style="margin: 0">Quản lý tài khoản</p>
                        <div class="display">
                            <div class="flex-mid">
                                <p style="margin: 0">Để quản lý tài khoản và cập nhật thông tin vui lòng <a href="https://kingflix.vn/manage/userinformation">Nhấn vào đây</a>!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="border-bottom: 1px solid #e6e6e6;">
                <div style="padding: 30px 35px;">
                    <p>Nếu gặp bất kỳ thắc mắc nào, vui lòng phản hồi lại Email cho chúng tôi để được xử lý!</p>
                    <p style="margin: 0;">Trân trọng,</p>
                    <p style="margin: 0;">KingFlix</p>
                </div>
            </div>
            <div style="border-bottom: 2px solid #e6e6e6; background:#eee; font-size: 12px;">
                <div style="padding: 30px 35px;">
                    <p style="margin: 0;">KingFlix</p>
                    <p style="margin: 0;">Website: <a href="https://kingflix.vn/">https://kingflix.vn</a></p>
                    <p style="margin: 0;">Fanpage <a href="#">https://facebook.com/kingflix.vn</a></p>
                    <p style="margin: 0;">Hotline <a href="tel:0344656565">0344656565</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>