@model IEnumerable<Kingflix.Domain.DomainModel.Category>

<div class="category-area" id="category">
    <div class="form-group row">
        <div class="col-md-4">
            <select name="CategoryId" class="categry-id form-control">
                <option value="0">Chọn sản phẩm</option>
                @foreach (var item in Model)
                {
                    <option value="@item.CategoryId">@item.Name</option>
                }
            </select>
        </div>
        <div class="col-md-4 month-id">
            <select name="Month" class="form-control">
                <option>Chọn sản phẩm trước</option>
            </select>
        </div>
        <div class="col-md-3">
            <input name="PriceSale" id="PriceSale" placeholder="Nhập giá giảm" class="form-control" required />
        </div>
        <div class="col-md-1">
            <button class="btn btn-danger btn-rounded p-2 remove-category-month" data-toggle="tooltip" data-title="Hủy" type="button"><i class="mdi mdi-delete"></i></button>
        </div>
    </div>
</div>
