
<script>
    var text = "<div class='form-group row'>"
        + "<div class='col-md-5'>"
        + "<input class='form-control' placeholder='Nhập số tháng' data-val='true' data-val-number='Số tháng phải là một số.' data-val-required='Có ít nhất một mục 'số tháng' trống' name='Month' type='text'>"
        + "</div>"
        + "<div class='col-md-5'>"
        + "<input class='form-control' placeholder='Nhập giá tiền' data-val='true' data-val-number='Giá tiền phải là một số.' data-val-required='Có ít nhất một mục 'số tiền' trống' name='Price' type='text'>"
        + "</div>"
        + "<div class='col-md-1'>"
        + "<button class='btn btn-danger btn-rounded btn-block' data-toggle='tooltip' data-title='Hủy'><i class='mdi mdi-delete'></i></button>"
        + "</div>"
        + "<div class='col-md-1'>"
        + "<div class='form-check mt-0' style='left: 30%'>"
        + "<label class='form-check-label text-muted form-check-success'>"
        + "<input type='checkbox' id='IsShow' name='IsShow' class='form-check-input' value='true' checked><i class='input-helper text-success'></i>"
        + "<input name='IsShow' type='hidden' value='false'>"
        + "<i class='input-helper'></i>"
        + "</label>"
        + "</div>"
        + "<div class=''></div>"
        + "</div>"
        + "</div>"
</script>
