<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-content">
                        <div>
                            <h6 class="text-white">Về Kingflix</h6>
                        </div>
                        <div class="policy">
                            <a href="https://help.kingflix.vn/gioi-thieu/gioi-thieu-ve-kingflix" class="footer-link">Giới thiệu về Kingflix</a>
                            <a href="https://help.kingflix.vn/gioi-thieu/tai-khoan-netflix-la-gi" class="footer-link">Tài khoản Netflix là gì?</a>
                            <a href="https://help.kingflix.vn/dieu-khoan-dich-vu" class="footer-link">Điều khoản dịch vụ</a>
                            <a href="https://help.kingflix.vn/chinh-sach-bao-mat" class="footer-link">Chính sách bảo mật</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <h6 class="text-white">Hỗ trợ khách hàng</h6>
                    </div>
                    <div class="footer-content">
                        <div class="policy">
                            <a href="https://help.kingflix.vn/bao-hanh/lien-he-ho-tro" class="footer-link">Bạn có câu hỏi? Liên hệ với chúng tôi</a>
                            <a href="https://help.kingflix.vn/cac-cau-hoi-thuong-gap" class="footer-link">Các câu hỏi thường gặp</a>
                            <a href="https://help.kingflix.vn/" class="footer-link">Trung tâm trợ giúp</a>
                            <a href="https://help.kingflix.vn/huong-dan-mua-hang" class="footer-link">Hướng dẫn đặt hàng</a>
                            <a href="https://help.kingflix.vn/bao-hanh/thong-tin-bao-hanh" class="footer-link">Chế độ bảo hành</a>
                            <a href="mailto:hotro@kingflix.vn" class="footer-link">Hỗ trợ khách hàng: hotro@kingflix.vn</a>
                            <a href="mailto:security@kingflix.vn" class="footer-link">Báo lỗi bảo mật: security@kingflix.vn</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <h6 class="text-white">Kết nối với chúng tôi</h6>
                    </div>
                    <div class="footer-content">
                        <div class="policy">
                            <a href="#" class="footer-link">Facebook: ...</a>
                            <a href="#" class="footer-link">Instagram: ...</a>
                            <a href="#" class="footer-link">Zalo: ...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
